{% load i18n %}
{% for photo in page_obj %}
<div class="{% if forloop.counter0|divisibleby:"4" %}rowend{% endif %} photobox-{% filter force_escape %}{% cycle 'odd' 'even' %}{% endfilter %}">
    <a href="{{ photo.get_absolute_url }}"><img src="{{ photo.image_thumb.url }}" alt="{{ photo.name }}"></a>
    {% url "home:index" as index %}
    {% if photo.author == request.user and request.path != index %}
    {% else %}
        <p> by
            <a href="{% if photo.author %}{% url "home:user_photo_list" photo.author.username %}{% else %}{% url "home:user_photo_list"  user='anon' %}{% endif %}">{% if photo.author %} {{ photo.author.username }}{% else %} {% trans "anonymous" %} {% endif %}</a>
        </p>
    {% endif %}
    <p>{{ photo.description }}</p>
</div>
{% empty %}
    <p>
        {% blocktrans %}
        We apologize, but there aren't any photos available for display.Try uploading a photo yourself!!!"
        {% endblocktrans %}
    </p>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}&ordering={{ request.GET.ordering }}" class="pjax">{% trans "previous" %}</a>
        {% endif %}

        <span class="current">
            {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&ordering={{ request.GET.ordering }}" class="pjax">{% trans "next" %}</a>
        {% endif %}
    </span>
</div>
