{% extends "base.html" %}
{% load i18n %}
{% load comments %}

{% block content %}
    <div id="photo-detail">
        <a class="fancybox" href="{{ photo.image.url }}" caption="{{ photo.name }}"><img src="{{ photo.image_big.url }}" alt="{{ photo.name }}"></a>
    </div>
    <div id="photo-sidebar">
        <div id ="average-rating">
            <p class="avg">{{ photo.average_rating }}</p>
            <p>{% trans "average rating" %}</p>
        </div>
        {% if not request.user.is_anonymous %}
        <div id="rating-container">
            <form action="." method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="rateit" data-rateit-backingfld="#starrating" data-rateit-step="1" id="ratingstars"></div>
                <p>
                    <input type="submit" value="{% trans "rate it" %}" />
                </p>
            </form>
        </div>
        {% endif %}
        <div id="latest-rating">
            <span>{% trans "latest ratings" %}</span>
            {% for rating in ratings %}
                <p class="rating-{% filter force_escape %}{% cycle 'odd' 'even' %}{% endfilter %}">
                    {% blocktrans with rating=rating.rating rater=rating.rater %}{{ rater }} gave this photo a rating of: {{ rating }} {% endblocktrans %}</p>
            {% endfor %}
        </div>
        <div id="photo-info" >
            <p id="photo.author">{% trans "Author: " %}{{ photo.author }}</p>
            <p id="photo-desc">{% trans "Description: " %}{{ photo.description }}</p>
            <p>
                {% get_comment_count for photo as comment_count %}
                {% trans "This photo has " %}<span id="comment-count">{% if comment_count == 0 %}{% trans "no comments" %} {% else %} {{ comment_count }} {% trans " comments" %} {% endif %}</span>
            </p>
        </div>
    </div>
    <div id="comment-list">
        <span>{% trans "comment on this photo" %}</span>
        {% get_comment_list for photo as comment_list%}
        {% for comment in comment_list %}
        <div id="comment-{{ comment.id }}" class="comment-{% filter force_escape %}{% cycle 'odd' 'even' %}{% endfilter %}">
            <span>{{ comment.comment }}</span><span id="comment-author-info"> - by <a href="mailto:{{ comment.email }}">{{ comment.name }}</a></span> - <span class="easydate">{{ comment.submit_date|date:"r" }}</span>
        </div>
        {% empty %}
            <span>
                {% blocktrans %}
                There are currently no comments related to this photo <br/> Try commenting on it yourself
                {% endblocktrans %}
            </span>
        {% endfor %}
    </div>
    <div id="jaxmsg">
    </div>
    <div class="comment-form" id="container">
        {% get_comment_form for photo as form %}
        <form action="{% comment_form_target %}" method="post" id="comment-form">
            {% csrf_token %}
            <p>
                <label for="id_name">{% trans "name: " %}</label>
                {{ form.name }}
            </p>
            <p>
                <label for="id_email">{% trans "email: " %}</label>
                {{ form.email }}
            </p>
            <p>
                <label for="id_name">{% trans "comment: " %}</label>
                {{ form.comment }}
            </p>
            {{ form.honeypot }}
            {{ form.content_type }}
            {{ form.object_pk }}
            {{ form.timestamp }}
            {{ form.security_hash }}
            <input type="submit" value="{% trans "post comment" %}">
        </form>
    </div>
{% endblock %}
