{% extends "base.html" %}
{% load i18n %}
{% load floppyforms %}
{% block title %}
    {{ block.super }}
    {% url "home:index" as index %} -
    {% if request.path == index %}{% trans "Home" %}{% else %} {% trans "Photos" %}{% endif %}
{% endblock %}
{% block subheader %}
{% url "home:index" as index %}
    {% if request.path == index %}
    <hr />
    <div id="file-upload">
        <form method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <p>
                <input type="submit" value="{% trans "upload image" %}" />
            </p>
        </form>
    </div>
    {% else %}
        <h2>{% trans "Welcome to " %}{% if is_author %}{% trans "your" %} {% else %}{% if page_obj.0.author == None %} {% trans "anonymous " %}{% else %} {{ page_obj.0.author }}{% endif %}{% endif %} {% trans " gallery" %}</h2>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="subtitle"><h2>{% trans "Photo gallery" %}</h2></div>
    <div id="ordering">
        <form action="." method="get">
            <select name="ordering" id="ordering">
                <option value="">------------</option>
                <option value="avg_rating">{% trans "lowest rated" %}</option>
                <option value="-avg_rating">{% trans "highest rated" %}</option>
                <option value="pub_date">{% trans "oldest" %}</option>
                <option value="-pub_date">{% trans "latest" %}</option>
            </select>
            <input type="submit" value="{% trans "order" %}" />
        </form>
    </div>
    <div class="photo-container" id="container">

        {% include "photo_list-pjax.html" %}
        {% comment %}
        {% for photo in page_obj %}
        <div class="{% if forloop.counter0|divisibleby:"4" %}rowend{% endif %} photobox-{% filter force_escape %}{% cycle 'odd' 'even' %}{% endfilter %}">
            <a href="{{ photo.get_absolute_url }}"><img src="{{ photo.image_thumb.url }}" alt="{{ photo.name }}"></a>
            {% url "home:index" as index %}
            {% if photo.author == request.user and request.path != index %}
            {% else %}
                <p> by
                    <a href="{% if photo.author %}{% url "home:user_photo_list" photo.author.username %}{% else %}{% url "home:user_photo_list"  user='anon' %}{% endif %}">{% if photo.author %} {{ photo.author.username }}{% else %} {% trans "anonymous" %} {% endif %}</a>
                </p>
            {% endif %}
            <p>{{ photo.description }}</p>
        </div>
        {% empty %}
            <p>
                {% blocktrans %}
                We apologize, but there aren't any photos available for display.Try uploading a photo yourself!!!"
                {% endblocktrans %}
            </p>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}&ordering={{ request.GET.ordering }}">{% trans "previous" %}</a>
                {% endif %}

                <span class="current">
                    {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}&ordering={{ request.GET.ordering }}">{% trans "next" %}</a>
                {% endif %}
            </span>
        </div>
        {% endcomment %}
    </div>
{% endblock %}
