/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background: url(../img/background.jpg) repeat-y;
    color: #FFF;
    width: 960px;
    margin: 0 auto;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body a{
    color:orange;
}

header{
    width: 70%;
    margin: 0 auto;
}

header img {
  float: left;
  margin-right: 50px;
}
header h1 {

}

#content{
    clear:both;
}

#subtitle{
    float: left;
    margin-left: 350px;
}

#subtitle h2{
    margin-top: 0;
}
#ordering{
    float: right;
}

.photo-container{
    clear:both;
}

.photobox-even, .photobox-odd{
    text-align: center;
    float: left;
    background-color: rgba(255,0,0,0.46);
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    width: 220px;
    margin: 0 10px 10px;
    height: 230px;
}

.photobox-odd{
    background-color: rgba(0,0,0,0.6);
}

.photobox-even img, .photobox-odd img{
    margin-top: 20px;
}

#file-upload{
    clear:both;
}

#photo-detail{
    float: left;
}
#photo-sidebar{
    padding-left: 20px;
}
#average-rating{
    text-align: center;
    float: left;
    background-color: rgba(0,0,0,0.6);
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
}
.avg{
    font-size: 45pt;
    color: yellow;
    line-height: 20px;
}
#rating-container{
    float:left;
    clear: right;
    background-color: rgba(0,0,0,0.6);
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
}
.rating-odd{
    background-color: rgba(255,0,0,0.7);
}
#latest-rating{
    float: left;
    clear: right;
    background-color: rgba(0,0,0,0.6);
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
}
#photo-info{
    float: left;
    background-color: rgba(0,0,0,0.6);
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
}
#comment-list{
    clear: both;
    background-color: rgba(0,0,0,0.6);
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
}

.comment-odd{
    background-color: rgba(255,0,0,0.7);
}
#comment-author-info{
    text-align: right;
}
.comment-form{
    background-color: rgba(0,0,0,0.6);
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
}

#loader{
    visibility: hidden;
}
#id_honeypot{
    display: none;
}
#id_url{
    display: none;
}

.pagination{
    clear: both;
    text-align: center;
}

.rowend{
    clear: left;
}

footer{
    text-align: center;

}







/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
