{% load i18n %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% blocktrans %}Stryia photos - job contest{% endblocktrans %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">


        <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/fancybox/jquery.fancybox.css?v=2.1.4" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/fancybox/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/fancybox/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/rateit.css" type="text/css" media="screen" />

        <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.2.min.js"></script>

    </head>
    <body>
        {% include "header.html" %}

        {% block subheader%}{% endblock %}
         <hr/>
        <div id="content">
            {% block content %}<p>Hello world! This is HTML5 Boilerplate.</p>{% endblock %}
        </div>

        {% include "footer.html" %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="{{ STATIC_URL }}js/vendor/jquery.pjax.js"></script>

        <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.mousewheel-3.0.6.pack.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/fancybox/jquery.fancybox.pack.js?v=2.1.4"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/fancybox/jquery.fancybox-buttons.js?v=1.0.5"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/fancybox/jquery.fancybox-media.js?v=1.0.5"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/fancybox/jquery.fancybox-thumbs.js?v=1.0.7"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.rateit.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.rateit.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.easydate-0.2.4.js"></script>
        <script src="{{ STATIC_URL }}js/plugins.js"></script>
        <script src="{{ STATIC_URL }}js/main.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $(".fancybox").fancybox({
                    beforeLoad: function() {
                        this.title = $(this.element).attr('caption');
                    }
                });
            });
        </script>
    </body>
</html>
