{% url "home:index" as index %}
<header id="header">
    {% if request.path == index %}
        <img src="{{ STATIC_URL }}img/styria_logo.jpg" />
    {% else %}
        <a href="{% url "home:index" %}">
            <img src="{{ STATIC_URL }}img/styria_logo.jpg" />
        </a>
    {% endif %}
    <h1>PHOTO HUT</h1>
</header>
