{% extends "comments/base.html" %}
{% load i18n %}

{% block title %}{% trans "Preview your comment" %}{% endblock %}

{% block content %}
  {% load comments %}
  <form action="{% comment_form_target %}" method="post" id="comment-form">{% csrf_token %}
    {% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}
    {% if form.errors %}
    <h1>{% blocktrans count counter=form.errors|length %}Please correct the error below{% plural %}Please correct the errors below{% endblocktrans %}</h1>
    {% else %}
    <h1>{% trans "Preview your comment" %}</h1>
      <blockquote>{{ comment|linebreaks }}</blockquote>
      <p>
      {% trans "and" %} <input type="submit" name="submit" class="submit-post" value="{% trans "Post your comment" %}" id="submit" /> {% trans "or make changes" %}:
      </p>
    {% endif %}
      <p>
        {% if form.name.errors %}
        <br />
        {{ form.name.errors }}
        {% endif %}
          <label for="id_name">{% trans "name: " %}</label>
          {{ form.name }}

      </p>
      <p>
        {% if form.email.errors %}
        <br />
        {{ form.email.errors }}
        {% endif %}
          <label for="id_email">{% trans "email: " %}</label>
          {{ form.email }}

      </p>
      <p>
        {% if form.comment.errors %}
        <br />
          {{ form.comment.errors }}
        {% endif %}
          <label for="id_comment">{% trans "comment: " %}</label>
          {{ form.comment }}
      </p>
      {{ form.honeypot }}
      {{ form.content_type }}
      {{ form.object_pk }}
      {{ form.timestamp }}
      {{ form.security_hash }}
    <p class="submit">
    <input type="submit" name="submit" class="submit-post" value="{% trans "Post" %}" />
    </p>
  </form>
{% endblock %}
